# {{ ansible_managed }}
[Unit]
Description=Prometheus exporter for machine metrics
Documentation=https://github.com/prometheus/node_exporter

[Service]
Restart=always
User={{ node_exporter__system_user_name }}
ExecStart=/usr/local/bin/node_exporter --web.listen-address=:{{ node_exporter__port }}
ExecReload=/bin/kill -HUP $MAINPID
TimeoutStopSec=20s
SendSIGKILL=no

[Install]
WantedBy=multi-user.target
# {{ ansible_managed }}
